body {
    background-color: aliceblue;
  }
  
  .ex {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  #ex3_one, #ex3_two {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    height: 50px;
  }
  
  #ex3_element {
    display: 'block';
    cursor: pointer;
    background-color: red;
    width: 100px;
  }

.animation-container {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

#ex6_element {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 0;
}

.animate-move {
  animation: slideRightAndBack 2s ease-in-out;
}

/* Klatki kluczowe animacji: start (0%) -> środek (50%) -> koniec (100%) */
@keyframes slideRightAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    /* Przesunięcie na prawo - "100vw - 100px" upewnia się, że nie wyjdzie poza ekran */
    transform: translateX(calc(100vw - 100px)); 
  }
  100% {
    transform: translateX(0);
  }
}